@using QL_BanSach.Models
@{
    QLBansachEntities db = new QLBansachEntities();

    var sach = db.SACHes.ToList().Count;
    var chude = db.CHUDEs.ToList().Count;
    var nxb = db.NHAXUATBANs.ToList().Count;
    var tacgia = db.TACGIAs.ToList().Count;
}

@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Tổng quan</h1>
                </div><!-- /.col -->
                <!--<div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div>-->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                           
                            <h3>@sach</h3>

                            <p>Tổng số sách</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-book-open"></i>
                        </div>
                        <a href="@Url.Action("index","Admin_Sach")" class="small-box-footer">Chuyển tới <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@nxb<sup style="font-size: 20px"></sup></h3>

                            <p>Tổng số nhà xuất bản</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="@Url.Action("index","Admin_NXB")" class="small-box-footer">Chuyển tới <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@tacgia</h3>

                            <p>Tổng số tác giả</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="@Url.Action("index","Admin_TacGia")" class="small-box-footer">Chuyển tới <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@chude</h3>

                            <p>Tổng số chủ đề</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-chart-pie"></i>
                        </div>
                        <a href="@Url.Action("index","Admin_ChuDe")" class="small-box-footer">Chuyển tới <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <!-- /.row >
            </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div> 